@using FacturacionEMCSite.StringResources;

@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/productosCliente/jsProductosCliente.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
<style>
    img:hover{
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    body, html {
        height: 100%;
        background-color:black;
    }

    .darkdiv{
        background-color: black;
    
    }

    spanblank{
        color:red;
        color:mediumvioletred;
        color:navajowhite;
    }

    

    .product {
        position: relative;
        margin: 15px 0px;
        -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
        box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
        border:none;
    }
</style>

<script>
    var urlGetInfoProducto = '@Url.Action("GetInfoProducto", "ProductosCliente")';
  </script>

<div class="card" style="margin-top:5%">
    <div class="card-body darkdiv">
        <div class="form-horizontal darkdiv" >
           
            <div class="form-group row darkdiv" >
                <div class="col-md-10 darkdiv">
                    <input type="text" id="strBusqueda" class="form form-control" />
                </div>
                <div class="col-md-2  darkdiv">
                    <button class="btn btn-light" onclick="BuscarProducto();"><i class="bi bi-search"> @Resources.Search </i></button>
                </div>
            </div>
        </div>

        <div class="form-horizontal darkdiv">
            <div id="imgns" class="card form-group row darkdiv"></div>
        </div>
        
    </div>
</div>


