
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('#dashboard_').hide();
</script>

<div class="card" style="margin-top:5%;">
    <div class="card-body">

        <div class="col-md-12 text-center">
             <div class="col-md-6">
            <iframe title="Ventas_TotalPorArticulo - Página 1" width="1000" height="374" src="https://app.powerbi.com/view?r=eyJrIjoiM2ZlYWUzMWQtYjk3Zi00OTFlLWFkMjMtMGYzN2FiZWZhOWVhIiwidCI6ImVjNWEzYTQ4LTY1NDgtNDBiMy1iYjE3LWFjMTdhMzhkMTYwMCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
        <hr />
         <div class="col-md-12 text-center">
             <div class="col-md-6 text-center">
             <iframe title="Compras_TotalPorArticulo - Página 1" width="1000" height="374" src="https://app.powerbi.com/view?r=eyJrIjoiMTI0OTQ4OTMtZTI3Mi00NjI0LWE4ZjAtMjJhNGE5OTlhOGZiIiwidCI6ImVjNWEzYTQ4LTY1NDgtNDBiMy1iYjE3LWFjMTdhMzhkMTYwMCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe> 
             </div>
        </div>

    </div>
</div>


