
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="card"  style="margin-top:5%;">
    <div class="card-body">
        <div class="form-horizontal">
            <h1> Acceso </h1>
            <div class="form-group row">

                <div class="col-md-3 text-md-right">
                    <label class="control-label">Empresa</label>
                </div>
                <div class="col-md-8">
                    <select id="empresa" name="empresa" class="form-control form-control-sm" onchange="" required> </select>
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Usuario</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="userMail" name="userMail" class="form form-control" />
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Password</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="password" name="password" class="form form-control" />
                </div>
            </div>
            <div class="form-group row text-center">
                <div class="col-md-6 text-md-left">
                    <input type="button" value="Aceptar" class="btn btn-primary form-control" onclick="" style="width:400px;"/>
                </div>
                <div class="col-md-6 text-md-right">
                    <input type="button" value="Cancelar" class="btn btn-danger form-control" onclick="" style="width:400px;" />
                </div>
            </div>

        </div>
    </div>
</div>