@using FacturacionEMCSite.StringResources;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/venderNumero/jsIndex.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}


<script>
    var urlGetLoterias = '@Url.Action("GetLoterias", "VenderNumero")';
</script>

<div class="card" style="margin-top: 5%; background-color: white; color: dimgray;">
    <div class="card-body">
        <div class="form-horizontal" style="color: dimgray;">
            <h1 style="color:dimgray">Vender Numero</h1><hr />

            <div class="form-group row">
                  <div class="col-md-3 text-md-right">
                    <label class="control-label">Loteria</label>
                </div>
                <div class="col-md-8">
                    <select id="loteria"  class="form-control form-control-sm" onchange="" required>
                    </select>
                </div>
            </div>

            <hr />

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <input type="button" class="btn btn-light btn-lg btn-block" value="1" style="width: 100px" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-light btn-lg btn-block" value="2" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-light btn-lg btn-block" value="3" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <input type="button" class="btn btn-light btn-lg btn-block" value="4" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-light btn-lg btn-block" value="5" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-light btn-lg btn-block" value="6" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <input type="button" class="btn btn-light btn-lg btn-block" value="7" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-light btn-lg btn-block" value="8" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-light btn-lg btn-block" value="9" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <input type="button" class="btn btn-light btn-lg btn-block" value="x" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-light btn-lg btn-block" value="0" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-light btn-lg btn-block" value="B" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>