
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/facturaVenta/jsStartInvoice.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}


<div class="row" style="color: dimgray;">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                    <div class="mr-md-3 mr-xl-5">
                        <h2>Start Invoice</h2>
                        <small class="mb-md-0 text-gray">First Invoice Number</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="card" style="margin-top:0%;">
    <div class="card-body">
        <div class="form-horizontal" style="color:dimgray">

            <div class="form-group row">
                <div class="col-md-4 text-md-right">
                    <label class="control-label">Invoice Init</label>
                </div>
                <div class="col-md-4 text-md-center">
                    <input type="text" id="number" class="form form-control" />
                </div>
                <div class="col-md-4 text-md-left">
                    <input type="button" class="btn btn-primary" value="Save" />
                </div>
            </div>

        </div>
    </div>
</div>