


@{
    Layout = null;
}
<script>
    var urlGetDocumentoPartida = '@Url.Action("GetDocumentoPartida","Factura")';
    var urlGetDocumentoPartidaImpuesto = '@Url.Action("GetDocumentoPartidaImpuesto","Factura")';
</script>


<div class="container-fluid">
    <div class="form-group row">
        <div class="table-responsive">
            <table id="docFac" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Factura</th>
                         <th>OC</th>
                        <th>Proveedor</th>
                        <th>Estatus</th>
                        <th>Observacion</th>
                        <th>Fecha de Pago</th>
                        <th>Estatus Pago</th>
                        <th>Consulta</th>
                    </tr>
                </thead>
                <tbody>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center">
                                <a href="javascript:void(0);" onclick="GetRelacionesFactura('');" class="text-info"><span class="fa fa-search"></span></a>
                            </td>
                        </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <div class="modalTipo" id="relDoc">
        <div class="modal-content2" style="width:70%;">

            <div>
                <h6 id="_facId" class="text-left text-success font-weight-bold"></h6>
                <h6 class="text-right" style="cursor: pointer;"><i class="fa fa-times" aria-hidden="true" onclick="CerrarModalPartida();"></i></h6>
            </div>


            <div>
                <h4 class="text-left text-primary">Partida</h4>
                <div class="table-responsive">
                    <table id="docPartida" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Id Producto</th>
                                <th>Descripcion</th>
                                <th>Cantidad</th>
                                <th>Valor</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div>
                <h4 class="text-left text-primary">Impuesto</h4>
                <div class="table-responsive">
                    <table id="docPartidaImpuesto" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Base</th>
                                <th>Tasa</th>
                                <th>Importe</th>
                                <th>Tipo Impuesto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>