<footer class="footer" style="background-color: #F4F4F4;">
    <div class="container-fluid clearfix" style="color: #5ABE33; font-size: 16px; ">
        <span class="d-block text-center text-sm-left d-sm-inline-block"> Copyright ©  2020 Developer by Alfasoft. All rights reserved.</span>

    </div>
</footer>
