<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore  requestTimeout="02:00:00" processPath="dotnet" arguments=".\FacturacionEMCSite.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs.txt"  forwardWindowsAuthToken="false" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: c3b95756-08ee-4f9d-b6e1-8469c63adeca-->